@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

#drawarea {
    display: block;
    color: #666;
    background-color: #fff;
    font-size: 100%;
    border: 1px solid #ccc;
    margin: 20px auto 0px;
    padding: 0px;
}

